.chatWindow {
  position: fixed;
  top: 30px;
  bottom: 30px;
  right: 30px;
  overflow: scroll;
  width: 500px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(55, 84, 170, 0.16);
  border-radius: 12px;
}

.wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
